:root {
    --primario: #9c27b0;
    --primarioObs: #891190;
    --secundario: #ffce00;
    --secundariosObs: #ffa153;
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }


  *, *:before, *:after {
    box-sizing: inherit;
  }
  
/* Global */

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {text-decoration: none;}

image {max-width: 100%;}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {font-size: 4rem;}

h2 {font-size: 3.2rem;}

h3 {font-size: 2.4rem;}

/* Header BEM*/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */

.footer {
    background-color: var(--primarioObs);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/* Navigation */

.navigation {
    background-color: var(--primarioObs);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navigation__link {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navigation__link--active,
.navigation__link:hover {
    color:var(--secundario)
}

/* Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/* Products */

.product {
    background-color: var(--primarioObs);
    padding: 1rem;
}

.product__img {
    width: 100%;
}

.product_name {
    font-size: 4rem;
}

.product_price {
    font-size: 1.8rem;
    color: var(--secundario);
}

.product_name,
.product_price{
    font-family: var(--fuentePrincipal);
    margin: 2rem 0;
    text-align: center;
    line-height: 1.2rem;
}

/* Graphic */

.graphic {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 1rem;
    grid-column: 1 / 3;
}

.graphic--tshirt {
    background-image: url(../img/grafico1.jpg);
    grid-row: 3 / 4;
}

.graphic--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 7 / 8;
}

@media (min-width: 768px) {
    .graphic--tshirt {
        grid-row: 2 / 3;
        grid-column: 1 / 3;

    }
}

@media (min-width: 768px) {
    .graphic--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* About Us*/

.about {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .about {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

.about__img {
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .about__img {
        grid-column: 2 / 3;
    }
}


.about__text {
    line-height: 3rem;
    font-style: italic;
    max-height: auto;
}

/* Blocks */

.blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .blocks {
        grid-template-columns: repeat(4, 1fr);
    }
}

.block {
    text-align: center;
    padding: 1rem;
}

.block__title {
    margin: 0;
}

.block__img {
    width: 100%;
}


/* Product page*/

.tshirt_content_text {
    margin:1rem;
}

@media (min-width:768px) {
    .tshirt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    } 
}

.tshirt__img {
    width: 100%;
    padding: 2rem;
}


/* Form */

.form {
    display: grid;
    grid-template-columns: 50%, 50% ;
    gap: 2rem;
}

.form__fields {
    border: var(--primarioObs);
    border-width: 1rem;
    border-style: solid;
    /* border: 1rem solid var(--primarioObs); It's the same */
    background-color: transparent;
    color: var(--negro);
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.form__submit {
    background-color: var(--secundario);
    border: .5rem solid var(--secundariosObs);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .5s ease;
    margin: 1rem;
}

.form__submit:hover {
    cursor: pointer;
    background-color: var(--secundariosObs);

}